<app-header title="Work Group"></app-header>
<ion-content>
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3" *ngIf="groups.length > 0">
    
    <ion-card class="flex flex-col justify-between" *ngFor="let group of groups" mode="md">
      <div>
        <div class="flex flex-row justify-between items-center">
          <ion-card-header>
            <ion-card-title>{{group.name}}</ion-card-title>
            <ion-card-subtitle>ผู้รับผิดชอบ : {{group.reader}}</ion-card-subtitle>
          </ion-card-header>
          <ion-icon class="m-8 text-2xl cursor-pointer" name="pencil-outline" (click)="edit(group)"></ion-icon>
        </div>

        <ion-card-content>
          <div class="flex flex-wrap gap-2">
            <div class="cursor-pointer mr-2 text-black p-2 rounded-lg" [class]="group.color" *ngFor="let site of group.site_groups.site" (click)="bookingPage(site)"> 
              #{{site.name}}</div>
          </div>

        </ion-card-content>
      </div>

      <div class="flex justify-end p-2">
        <!-- <ion-button (click)="openModalAddJob(group)">เพิ่มงาน</ion-button> -->
        <ion-button (click)="jobsList(group)">รายการงาน</ion-button>
      </div>
    </ion-card>
    <!-- <div class="bg-gray-200 flex justify-center items-center m-[10px] rounded min-h-96 shadow shadow-gray-400" (click)="openModalAddGroup()">
      <ion-icon class="text-8xl text-gray-500" name="add-circle-outline"></ion-icon>
    </div> -->
  </div>
</ion-content>