<div class="flex flex-col justify-center items-center p-4">
  <div class="flex flex-row justify-around items-center gap-4">
    <span class="text-3xl">{{site.name}}</span>
  </div>
  <!-- <div class="h-72 w-72 my-2">
    <div id="qrcode-container" class="w-full object-cover rounded-lg"></div>
  </div> -->
  <div class="flex flex-col justify-center items-center p-4" *ngIf="group">
    <div class="qrcodeImage">
      <qrcode #parent [elementType]="elementType" [errorCorrectionLevel]="errorCorrectionLevel" [qrdata]="qrdata"
        [scale]="scale" [width]="width" [allowEmptyString]="true" [className]="cssClass" [colorDark]="colorDark"
        [colorLight]="colorLight" [margin]="margin" [alt]="alt" [ariaLabel]="ariaLabel" [title]="title"
        [imageSrc]="imageSrc" [imageHeight]="imageHeight" [imageWidth]="imageWidth" (qrCodeURL)="onChangeURL($event)">
      </qrcode>
    </div>
    <div class="flex flex-row justify-around items-center gap-4">
      <div [class]="group.color" class="h-8 w-8 rounded-3xl "></div>
      <span class="text-xl">{{group.name}}</span>
    </div>
    <div class="downloadButton mt-4">
      <ion-button *ngIf="this.elementType !== 'svg'" mat-raised-button color="primary" (click)="saveAsImage(parent)">
        Download QR Code Image
      </ion-button>
      <a *ngIf="this.elementType === 'svg'" mat-raised-button color="primary" [href]="qrCodeSrc"
        download="{{site.name}}">Download QR Code Image</a>
    </div>
  </div>
</div>
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        ปิด
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>