<app-header title="Service"></app-header>
<ion-content>
  <div class="h-full flex justify-center items-center">
    <div class="p-4 grid grid-cols-1 gap-2 sm:grid-cols-2">
      <div class="h-60 w-60 bg-gray-200 flex justify-center items-center p-4 rounded-lg">
        <h1 class="text-2xl font-bold">ตรวจสอบ</h1>
      </div>
      <div class="h-60 w-60 bg-gray-200 flex justify-center items-center p-4 rounded-lg">
        <h1 class="text-2xl font-bold">เพิ่ม</h1>
      </div>
    </div>
  </div>
</ion-content>