<ion-content>
  <ion-list>
    <ion-item [button]="true" [detail]="false" (click)="openLine()">
      <ion-img src="../../../assets/icon/line.png" class="w-10 h-10"></ion-img> กรุงธนประกันแอร์ บจก.
    </ion-item>
    <!-- <ion-item [button]="true" [detail]="false">Option 2</ion-item> -->
    <!-- <ion-item [button]="true" id="nested-trigger">More options...</ion-item> -->

    <!-- <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item [button]="true" [detail]="false">Nested option</ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover> -->
  </ion-list>
</ion-content>