<ion-header>
  <div class="flex flex-col justify-center items-center p-4 " [class]="group?.color">
    <span *ngIf="site" class="text-black text-3xl">{{site.name}}</span>
  </div>
</ion-header>
<ion-content class="ion-padding">
  <!-- <span *ngIf="site" class="text-3xl">{{site.name}} สวัสดี</span> -->
  <form [formGroup]="form" (ngSubmit)="newSubmit()" *ngIf="site && group">
    <mat-form-field class="w-full py-2">
      <mat-label>กรุณาเลือกวันที่ต้องการจอง</mat-label>
      <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="start_time"
        (dateChange)="searchJobs()">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matTextSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <app-select [parentForm]="form" label="เวลา" formControlName="time" placeholder="กรุณาเลือกเวลา" [multiple]="false"
      [options]="times" *ngIf="has_date" (selectChange)="timeChange()"></app-select>

    <div *ngIf="form.value.time">

      <app-input [parentForm]="form" label="เบอร์โทรศัพท์" typeInput="text" formControlName="phone"
        placeholder="กรุณากรอกเบอร์โทรศัพท์"></app-input>

      <app-select [parentForm]="form" label="บริการ" formControlName="type" placeholder="กรุณาเลือกบริการ"
        [multiple]="false" [options]="types"></app-select>

      <app-input [parentForm]="form" label="อื่นๆ(โปรดระบุ)" typeInput="text" formControlName="type_other"
        placeholder="อื่นๆ(โปรดระบุ)" *ngIf="form.value.type.value=== 'อื่นๆ'"></app-input>

      <label class="block my-1 text-sm font-medium text-black">
        <span>จํานวน<span class="text-red-500">*</span><span class="text-gray-400">( 1 ตัว = 1 ชั่วโมง )</span></span>
      </label>
      <div class="flex items-center">
        <ion-button shape="round" (click)="subQty()">
          <!-- <ion-icon slot="icon-only" ios="logo-apple" md="remove-outline"></ion-icon> -->
          -
        </ion-button>
        <span class="px-4 text-2xl">{{form.value.qty}}</span>
        <ion-button shape="round" (click)="addQty()">
          <!-- <ion-icon slot="icon-only" ios="logo-apple" md="add-outline"></ion-icon> -->
          +
        </ion-button>
      </div>

      <app-input [parentForm]="form" label="อาคาร/ชั้น/ห้อง" typeInput="text" formControlName="address"
        placeholder="กรุณาระบุตึกและหมายเลขห้อง เช่น A001"></app-input>

      <app-input [parentForm]="form" label="หมายเหตุ" typeInput="text" formControlName="remark"
        placeholder="หมายเหตุ"></app-input>
    </div>
  </form>
  <!-- <ion-button (click)="sendLineNotify()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button> -->
  <div style="display: none;" id="sign-in-button"></div>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="flex justify-center items-center p-4 bg-white">
    <ion-button type="submit" class="w-full h-10 text-white text-xl" (click)="newSubmit()"
      [disabled]="form.invalid">บันทึก</ion-button>
  </div>
</ion-footer>