ion-segment-button {
    // --background: #3880ff;
    --background-checked: #0000ff;
    // --background-focused: #3880ff;
    // --background-focused-opacity: 1;
    // --background-hover: #3880ff;
    // --background-hover-opacity: 1;
    // --border-color: #3880ff;
    // --border-radius: 4px;
    // --border-style: solid;
    // --border-width: 8px;
    // --color: #3880ff;
    --color-checked: #fff;
    // --color-focused: #3880ff;
    // --color-hover: #3880ff;
    // --indicator-box-shadow: 10px 10px;
    // --indicator-color: #3880ff;
    --indicator-height: 0px;
    // --indicator-transform: rotate(90deg);
    // --indicator-transition: background-color 15ms linear;
    // --margin-bottom: 4px;
    // --margin-end: 4px;
    // --margin-start: 4px;
    // --margin-top: 4px;
    // --padding-bottom: 4px;
    // --padding-end: 4px;
    // --padding-start: 4px;
    // --padding-top: 4px;
    // --transition: background-color 15ms linear;
}