<app-header title="รายละเอียดงาน" [modal]="true"></app-header>
<ion-content>
  <div class="flex flex-col justify-center items-center p-4">
    <div class="flex flex-row justify-between items-center w-full ellipsis">
      <ion-label class="text-base">อาคาร/ชั้น/ห้อง</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.address}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">สถานะงาน:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.status}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">วันที่จอง:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{formatTime(job.book.date)}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">เวลาที่ทำรายการ:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{formatTime(job.created_at)}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">ประเภทงาน:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.type}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">จำนวน:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.qty || 1}} เครื่อง</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">เบอร์โทรศัพท์:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.phone}}</ion-label>
    </div>
    <!-- <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">รหัสงาน:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.id}}</ion-label>
    </div> -->
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">รหัสงาน:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.job_id}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">รหัสกลุ่ม:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.group_id}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">รหัสคอนโด:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.site_id}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">รหัสโปรเจค:</ion-label>
      <ion-label class="text-base w-1/2 text-right ellipsis">{{job.project_id}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">หมายเหตุ:</ion-label>
      <ion-label class="text-base w-1/2 text-right">{{job.remark || '-'}}</ion-label>
    </div>
    <div class="flex flex-row justify-between items-center w-full">
      <ion-label class="text-base">เพิ่มโดย:</ion-label>
      <ion-label class="text-base w-1/2 text-right">{{job.created_by || '-'}}</ion-label>
    </div>
  </div>
  <div class="flex justify-center">
    <!-- <ion-button (click)="edit()">แก้ไข</ion-button> -->
    <!-- <ion-button (click)="delete()">ลบ</ion-button> -->
  </div>
</ion-content>
