<app-header title="Home"></app-header>
<ion-content>
    <ion-segment [value]="segment" mode="md" (ionChange)="segmentChanged($event)">
        <ion-segment-button [value]="option.value" *ngFor="let option of segment_option">
            <ion-label>{{option.title}}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="segment">
        <div *ngSwitchCase="'booking'">
            <ion-card *ngFor="let job of jobPending">
                <ion-card-header>
                    <ion-card-title>{{job.book.time[0]}}</ion-card-title>
                    <ion-card-subtitle>{{formatTime(job.book.date)}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    {{job.address}} {{job.type}}
                </ion-card-content>
            </ion-card>
        </div>
        <div *ngSwitchCase="'pending'">
            <ion-card *ngFor="let job of jobBooked">
                <ion-card-header>
                    <ion-card-title>{{job.book.time[0]}}</ion-card-title>
                    <ion-card-subtitle>{{formatTime(job.book.date)}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    {{job.address}} {{job.type}}
                </ion-card-content>
            </ion-card> 
        </div>
        <div *ngSwitchCase="'Completed'">
            <ion-card *ngFor="let job of jobCompleted">
                <ion-card-header>
                    <ion-card-title>{{job.book.time[0]}}</ion-card-title>
                    <ion-card-subtitle>{{formatTime(job.book.date)}}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    {{job.address}} {{job.type}}
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>