<app-header title="Home"></app-header>
<ion-content class="ion-padding">
    <!-- <form [formGroup]="form" (ngSubmit)="submit()">
        <app-select [parentForm]="form" label="สถานะงาน" formControlName="status" placeholder="สถานะงาน"
            [multiple]="true"
            [options]="[{title:'ทั้งหมด1',value:'all1',disabled:false},{title:'ทั้งหมด2',value:'all2',disabled:false}]"></app-select>

        <app-input [parentForm]="form" label="ผู้รับผิดชอบ" typeInput="text" formControlName="reader"
            placeholder="ผู้รับผิดชอบ"></app-input>

        <ion-button [disabled]="form.invalid" type="submit" expand="block">
            Click me
        </ion-button>
    </form> -->
</ion-content>