<ion-content>
  <div class="h-full p-4 ">
    <div class="h-full flex flex-col justify-evenly items-center">
      <span class="text-6xl text-green-600 font-bold">จองคิวสำเร็จ</span>
      <ion-img [src]="image"></ion-img>
      <div class="flex flex-col justify-center items-center gap-2">
        <a href="https://lin.ee/9iHb0uH"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png"
            alt="เพิ่มเพื่อน" height="36"></a>
        <span>"เพิ่มเพื่อน" เพื่อติดตามสถานะหรือติดตามข้อมูลข่าวสารเกี่ยวกับเรา</span>
      </div>
    </div>
  </div>
</ion-content>