<app-header title="เพิ่มงาน" [modal]="true"></app-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    
    <ion-item class="custom-input my-2">
      <ion-label>สถานที่</ion-label>
      <ion-select interface="popover" placeholder="เลือกสถานที่" formControlName="site_id">
        <ion-select-option *ngFor="let site of sites" [disabled]="!site.has_job"
          [value]="site.site_id">{{site.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <app-input [parentForm]="form" label="ชื่องาน" typeInput="text" formControlName="name"
      placeholder="ชื่องาน"></app-input>

    <app-input [parentForm]="form" label="รายละเอียด" typeInput="text" formControlName="description"
      placeholder="รายละเอียด"></app-input>

    <app-input [parentForm]="form" label="อาคาร" typeInput="text" formControlName="building"
      placeholder="อาคาร"></app-input>

    <app-input [parentForm]="form" label="ชั้น" typeInput="text" formControlName="floor" placeholder="ชั้น"></app-input>

    <app-input [parentForm]="form" label="ห้อง" typeInput="text" formControlName="room" placeholder="ห้อง"></app-input>

    <app-input [parentForm]="form" label="เบอร์โทรศัพท์" typeInput="text" formControlName="phone"
      placeholder="เบอร์โทรศัพท์"></app-input>

    <app-input [parentForm]="form" label="หมายเหตุ" typeInput="text" formControlName="remark"
      placeholder="หมายเหตุ"></app-input>

    <!-- phonenumber -->
    <ion-item class="custom-input my-2">
      <ion-label>ประเภทงาน</ion-label>
      <ion-select interface="popover" placeholder="เลือกประเภทงาน" formControlName="type">
        <ion-select-option *ngFor="let type of types"
          [value]="type.name">{{type.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <app-input [parentForm]="form" label="ประเภทงาน" typeInput="text" formControlName="type"
      placeholder="ประเภทงาน"></app-input> -->

    <!-- <ion-item>
      <ion-label>ผู้รับผิดชอบ</ion-label>
      <ion-select formControlName="reader_id">
        <ion-select-option *ngFor="let reader of readers" [value]="reader.id">{{reader.name}}</ion-select-option>
      </ion-select>
    </ion-item> -->
    <!-- <ion-button type="submit" expand="block" [disabled]="form.invalid">เพิ่มงาน</ion-button> -->
  </form>
</ion-content>
<ion-footer class="ion-no-border ion-padding">
  <ion-button type="submit" expand="block" (click)="submit()" [disabled]="form.invalid">บันทึก</ion-button>
</ion-footer>