<app-header title="dashboard"></app-header>
<ion-content>
    <div *ngIf="jobs">
        <mat-form-field class="w-full sm:w-80 p-2">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="date" (dateChange)="searchJobs()">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

    </div>
    <!-- <div class="grid md:grid-cols-2 grid-cols-1"> -->
        <div class="w-full h-96" echarts [options]="PieChart" (resize)="true"></div>
        <!-- <div class="w-full h-96" echarts [options]="SeparateChart" (resize)="true"></div> -->
    <!-- </div> -->
    <!-- <div class="w-full h-96" echarts [options]="distributeByTimeChart" (resize)="true"></div> -->
</ion-content>